__pycache__
domainbed/facebook.py

domainbed/data/*
train_output/*

.idea

out.txt
err.txt

*.pkl

done

domainbed/results_vits/*
domainbed/results*/*
`
domainbed/datasets/*

domainbed/*.ipynb
domainbed/merge_folders.py


*.DS_Store

*/.DS_Store
.DS_Store
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
